.app {
  max-width: 1024px;
  margin: auto;
  .container-fluid {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .main-nav {
      display: flex;
      .navbar {
        display: flex;
        li {
          display: flex;
          padding: 0 5px 0 10px;
        }
      }
    }
  }
  .main-content {
    .list-question-style {
      flex-direction: column;
      padding-left: 0;
      li {
        display: flex;
        padding: 10px 0;
      }
    }
  }
}